extends ../layout

block content
  br
  br 
  .mx-auto.text-center
    h2.text-black-50.mx-auto.mt-2.mb-5 Usuarios registrados
  br

  table.table
    thead
      tr  
        th(scope='col') #
        th(scope='col') Nombre
        th(scope='col') Email
        th(scope='col') Verificado
        th(scope='col')
        th(scope='col')
    tbody
      each usuario in usuarios
        tr
          td(scope='row') 
            = usuario.id
          td= usuario.nombre
          td= usuario.email
          td= usuario.verificado ? 'Si' : 'No'
          td
            a.btn(href= 'usuarios/' + usuario.id + '/update') Editar
          td
            form.inline(method='post' action='usuarios/' + usuario.id + '/delete')
                input(type='hidden' name='id' value= usuario.id)
                button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                    = 'Eliminar'
  .mx-auto.text-center
    .row
      .col-md-4.mb-3.mb-md-0
        a.btn.btn-primary.js-scroll-trigger(href='/usuarios/create') New User
      .col-md-4.mb-3.mb-md-0  
        a.btn.btn-primary.js-scroll-trigger(href='/') Volver